<nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
  style="background: transparent"
>
  <div class="navbar-brand">
    <a class="navbar-item">
      <span class="brand">PomoNotes</span>
    </a>

    <div class="left-items">
      <div class="loginBtnMobile">
        <div *ngIf="user; then logout; else login"></div>
        <ng-template #login>
          <a class="config-btn" (click)="toggleLogIn()">
            <i class="bi bi-person-circle"></i>
          </a>
        </ng-template>

        <ng-template #logout>
          <img
            (click)="toggleLogIn()"
            [src]="user!.photoURL"
            class="user-img"
            alt="user.photo"
          />
        </ng-template>
      </div>

      <a class="config-btn" (click)="toggleConfigPanel()"
        ><i class="bi bi-gear-fill"></i>
      </a>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <!-- <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
        </div> -->

    <!-- <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          boton para cambiar tema
          <button class='button is-c-button-tab is-active' style='width:125px; margin-bottom:0px'
                        (click)='switchTheme()'>Cambiar
                        tema</button>
        </div>
      </div>
    </div> -->
  </div>
</nav>

<app-config-panel></app-config-panel>

<app-login *ngIf="showLogIn"></app-login>

<style>
  .config-btn {
    /* align-self: center; */
    width: 35px;
    font-size: 1.5rem;
  }

  .brand {
    font-family: "Dosis", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-brand {
    justify-content: space-between !important;
    width: 100%;
  }

  .left-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    color: white;
    width: 100px;
  }

  .user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    object-fit: cover;
  }

  .loginBtnMobile {
    display: flex;
  }
</style>
