<div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle medium shade4"></div>
    <div class="circle small shade5"></div>
</div>


<div class="columns is-centered my-6 mx-2">

    <div class="container count-container">
        <div class="box is-countdown-box has-background-white">
            <div class="columns">
                <div class="column is-full">
                    <progress class="progress count-progress is-info is-small" value="{{progress}}"
                        max="100"></progress>
                    <div class="columns is-centered">
                        <div class="field has-addons">
                            <p class="control" *ngFor="let counter of counters">
                                <button class="button is-c-button-tab is-primary" (click)="setCounter(counter)"
                                    [ngClass]="{'is-active': isActive(counter)}">
                                    <span>{{counter.text}}</span>
                                </button>
                            </p>
                            <!-- <p class="control">
                            <button class="button is-primary is-countdown-button">
                                <span>Center</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-primary is-countdown-button">
                                <span>Right</span>
                            </button>
                        </p> -->
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <p class="countdown has-text-white">{{mins}}:{{secs}}</p>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-offset-4 is-4">
                            <a class="button is-primary is-countdown-button" (click)="initInterval()"
                                *ngIf="!interval"><strong>Empezar</strong></a>
                            <a class="button is-primary is-countdown-button" (click)="stopInterval()"
                                *ngIf="interval"><strong>Parar</strong></a>
                        </div>
                        <div class="column is-4">
                            <a class="button is-primary is-rounded animate__animated animate__fadeIn"
                                (click)="setCounter(counter.getNextCounter())" *ngIf="interval">
                                <i class="bi bi-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>