<div
  class="container task-container edit-panel animate__animated animate__fadeInDown"
  style="max-width: 450px; margin-top: 10px"
>
  <div class="field">
    <label *ngIf="isNew" class="label">Nueva lista</label>
    <label *ngIf="!isNew" class="label">Editar lista</label>
    <div class="control">
      <div class="columns is-mobile">
        <div class="column">
          <input
            class="input"
            type="text"
            placeholder="Titulo"
            [(ngModel)]="list.title"
          />
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column">
          <input
            class="input"
            type="text"
            placeholder="Descripcion"
            [(ngModel)]="list.description"
          />
        </div>
      </div>
      <div class="columns">
        <div
          class="column is-centered check-cancel"
          style="padding-top: 0px; padding-bottom: 0px; font-size: 2em"
        >
          <a (click)="confirmList()">
            <i class="bi bi-check-circle"></i>
          </a>
          <a (click)="cancelList()">
            <i class="bi bi-x-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="black-background" class="is-hidden"></div>
